<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "particles/head.html" . }}
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="navbar-title">
          <strong>My Website</strong>
        </div>
        <div class="navbar-links">
          <a href="{{ "/" | relURL }}">Home</a>
          <a href="{{ "/calculator/" | relURL }}">Calculator</a>
          <a href="{{ "/quote/" | relURL }}">Random Quote</a>
        </div>
      </div>
    </header>
    <main>
      {{ block "main" . }}
      {{ end }}
    </main>
    <footer>
      <p>&copy; {{ now.Format "2006" }} Pranav Gopalak. All rights reserved.</p>
    </footer>
  </body>
</html>
